<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
       name="specFlow"
       type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <!-- requires reference Microsoft.VisualStudio.QualityTools.UnitTestFramework -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="HarvestUri" value="https://XXXX.harvestapp.com/"/>
    <add key="Username" value="XXXX@XXXX.XXXX"/>
    <add key="Password" value="XXXX"/>
  </appSettings>
</configuration>